<.flash_group flash={@flash} />
<div class="em-gradient flex items-center justify-center ">
  <h1 class="font-brand text-3xl text-white font-semibold">
    Instantly share Elixir code, notes and snippets!
  </h1>
</div>
